.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  margin: 0px auto;
width: 40%;
text-align: center;
display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px auto 3px auto;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #fdfd96;
}

p {
  font-size: 2rem;
  color: #fdfd96 ;
  font-family: 'Indie Flower', cursive;
  margin: 10px auto 0 auto;
}

img {
  width: 80%;
}



#hiddenp p {
  font-size: 1.2rem;
  color: whitesmoke;
  font-family: 'Indie Flower', cursive;
  margin: 10px auto 50px auto;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media  screen and (max-width: 1131px) {

h1 {font-size: 6rem;}
p {font-size: 2rem;}



}

@media  screen and (max-width: 835px) {

h1 {font-size: 4.5rem;}
p {font-size: 2rem;}

}

@media  screen and (max-width: 600px) {

h1 {font-size: 3rem;}
p {font-size: 2rem;}

.dice {
  margin: 0px auto;
width: 80%;
text-align: center;
display: inline-block;
}


}

@media  screen and (max-width: 450px) {

h1 {font-size: 2.5rem;}
p {font-size: 2rem;}

.dice {
  margin: 0px auto;
width: 80%;
text-align: center;
display: inline-block;

}
hiddenp p {
  margin: 10px auto 20px auto;
}
}
