* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    width: 100%;
    background-color: cornsilk;
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 96px;
    text-align: center;
    padding: 30px;
}

h2 {
    text-align: center;
    padding: 10px;
}

table,
tr,
td {
    border: 1.5px solid black;
    background-color: white;
}

table {
    margin: 0px auto;
    margin-bottom: 15px;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

form {
    display: block;
    margin: 5px auto 30px auto;
    text-align: center;
}

#submit {
    width: 70px;
    border: 1px solid black;
    background-color: rgb(204, 144, 144);
    border-radius: 3px;
}

#colorPicker {
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 510px) {
    #inputHeight {
        display: block;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 25px;
    }
    #inputWeight {
        display: block;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 25px;
    }
    #submit {
        width: 100px;
        height: 35px;
        font-size: 24px;
        border: 2px solid black;
        background-color: rgb(204, 144, 144);
        margin-bottom: 30px;
    }
    table {
        margin-bottom: 20px;
    }
}